body {
  background: rgb(66, 163, 222);
}
form {
  background: white;
  height: 390px;
  width: 390px;
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  background-color: rgb(252, 55, 104);
  border-style: none;
  color: white;
  border-radius: 20px;
  width: 65%;
  padding: 8px 0 8px 0;
  font-size: 15px;
}
#username {
  border-color: rgb(237, 237, 237);
  border-style: none none solid none;
  padding: 5px;
  margin-bottom: 28px;
  width: 55%;
  font-size: 15px;
}
#password {
  border-color: rgb(237, 237, 237);
  border-style: none none solid none;
  padding: 5px;
  margin-bottom: 37px;
  width: 55%;
  font-size: 15px;
}
#brand_logo {
  padding-top: 23px;
  padding-bottom: 5px;
  height: 110px;
  margin: 10px;
}
#username_image {
  height: 20px;
  vertical-align: middle;
}
#password_image {
  height: 25px;
  vertical-align: middle;
}